<a href="https://wa.me/+573178860724" class="botonWhatsapp"
  title="Envianos un mensaje" target="_blank">
  <i class="icon-whatsapp"></i>
</a>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9 text-center">
      <div class="footer-site-logo mb-4">
        <a href="/inicio/">D'Albas</a>
      </div>
      <ul class="list-unstyled nav-links mb-5">
        <li><a href="/inicio/" style="font-size: small;">Inicio</a></li>
        <li><a href="/vistaInicioNosotros/" style="font-size: small;">Acerca de</a></li>
        <li><a href="/vistaInicioProductos/" style="font-size: small;">Productos</a></li>
        <li><a href="/vistaLogin/" style="font-size: small;">Iniciar Sesión</a></li>
      </ul>

      <div class="social mb-4">
        <h3>Mantente en contacto</h3>
        <ul class="list-unstyled">
          <li class="fb">
            <a href="https://www.facebook.com/dalbaspasteleria"
              ><span class="icon-facebook" style="font-size: large;"></span
            ></a>
          </li>
          <li class="tw">
            <a href="#"><span class="icon-whatsapp" style="font-size: large;"></span></a>
          </li>
        </ul>
      </div>

      <div class="copyright">
        <hr>
        <p class="mb-0">
          <small>&copy; Derechos reservador Wolsoft | SENA.</small>
        </p>
      </div>
    </div>
  </div>
</div>
