{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{% endblock %}
{% block contenido %}
{% load static %}

<section>
  <br><br><br><br>
  <div class="custom-container">
      <div class="">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-7">
                      <div class="card p-5 text-center">
                        
                          <h1 class="display-5 fw-bold">Restablecer su contraseña</h1>
                          <hr>
                          <form action="/recuperarPassword/" method="post" autocomplete="off" onsubmit="return validarFormulario()">
                            {% csrf_token %}
                            <div class="mb-4"><br>
                                <h4><small class="text-muted">Ingrese la dirección de correo electrónico verificada de su cuenta de usuario y le enviaremos una nueva contraseña para su cuenta D'Albas.</small></h4><br>
                                <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="Ingrese su correo electrónico">
                            </div>
                            <hr class="my-4">
                            <input type="submit" name="commit" value="Enviar correo" class="btn btn-outline-success btn-lg btn-block mb-4">
                        </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<br><br><br><br>

</section>

<script>
    function validarFormulario() {
        var emailInput = document.getElementById("email");
        var emailValue = emailInput.value.trim(); 

        if (emailValue === "") {
            Swal.fire({
                icon: 'warning',
                title: 'Oops!',
                text: "Debe ingresar su correo de usuario para recuperar su contraseña."
            });
            return false; 
        }
        
        return true; 
    }

    
    function mostrarMensajeExito() {
        Swal.fire({
            icon: 'success',
            title: 'Correo enviado',
            showConfirmButton: false,
            timer: 3000
        });
    }

    function mostrarMensajeCorreoNoEncontrado() {
        Swal.fire({
            icon: 'error',  
            title: 'No se encontró ningún correo en el sistema',  
            showConfirmButton: false,
            timer: 3000
        });
    }


</script>

{% endblock %}
{% block footer %}
{% include "footer.html" %}
{% endblock %}